@charset "UTF-8";

html, body {
	background-color: #424242;
	font-family: Verdana, sans-serif;
	text-align: center;
}

h1 {
	color: white;
}

#container{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 100px;
	color: white;
}
