@charset "UTF-8";

/*346x154*/
html, body {
	background-color: #424242;
	font-family: Verdana, sans-serif;
	text-align: left;
}

#container{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 350px;
	height: 160px;
	background-color: yellow;
}
#timeText {
	
}
