@charset "UTF-8";

/*346x154*/
html, body {
	background-color: #424242;
	font-family: Verdana, sans-serif;
	text-align: left;
}

canvas {

}

.large{
	font-size: 28px;
}

#container{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 360px;
	height: 200px;
	background-color: white;
}
#firstline {
	padding: 8px;
	display:inline-flex;
	color: black;
}
#firstline *{
	margin-right: 5px;
}


